@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Cabin', sans-serif;}
:root{
    --font-sm:18px;
    --font-md:23px;
    --font-xl:30px;
    --font-xxl:38px;
    --container: 100%;
    /* font-size: var(--font-sm) */
}

@media screen and (min-width:640px) {
    :root{
        --font-sm:20px;
        --font-md:25px;
        --font-xl:32px;
        --font-xxl:40px;
        --container: 640px;
    }}
@media screen and (min-width:768px) {
    :root{
        --font-sm:20px;
        --font-md:25px;
        --font-xl:32px;
        --font-xxl:40px;
        --container: 768px;
    }}
@media screen and (min-width:1024px) {
    :root{
        --font-sm:20px;
        --font-md:25px;
        --font-xl:32px;
        --font-xxl:40px;
        --container: 1024px;
    }}
@media screen and (min-width:1280px) {
    :root{
        --font-sm:20px;
        --font-md:25px;
        --font-xl:32px;
        --font-xxl:40px;
        --container: 1280px;
        /* font-size: var(--font-sm) */
    }}



/* body{ */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Prata', serif; */
/* } */
.section-one{
    background-color: rgb(1, 1, 34);
    text-align: center;
}
.mail-top{
    color: rgb(248, 236, 236);
    padding: 20px;
    line-height: 30px;
}
.inquire-now{
    width: 80%;
    /* height: 35px; */
    background-color:rgb(129, 129, 15);
    color: white;
    border: 1px solid rgb(129, 129, 15);
    border-radius: 15px;
    /* font-size: var(--font-sm); */
    font-weight: 100px;
    margin-bottom: 10px;
}

.inquire-now a{
    color:#fff;
    text-decoration: none;
}
.mail-topt{
    display: none;
}
.first-container{
    display: block;
}
.mail-topd{
    display: none;
}
.sectiont-two{
    /* height: 280px; */
    min-height: min-content;
    overflow: hidden;
}
.logo{
    width: 30%;
}
.logo-section{
    display: flex;
    padding:20px 30px;
    gap: 10px;
}
.logo-hone{
    font-size: 25px;
    color: rgb(1, 1, 34);
}
.logo-hsix{
    color: rgb(129, 129, 15);
    font-size: 12px;
}
.call-section{
    display: flex;
    padding: 10px 30px;
    gap: 10px;
}
.location-section{
    display: flex;
    padding: 10px 30px;
    gap: 10px;
}

.sect-ht{
    border-radius: 3px;
    border: 1px solid rgb(224, 217, 217);
    width: 35px;
    height: 40px;
}
.call-hsix{
    color: rgb(129, 129, 15);
    font-size: 12px;
}
.first-span{
    color: rgb(1, 1, 34);
    font-size: 16px;
}
.call-secp{
    font-size: var(--font-sm);
    color: gray;
}
.section-three{
    background-color:rgb(1, 1, 34) ;
    /* display: flex; */
}
.nav-cont{
    position: absolute;
    background-color: rgb(1, 1, 34);
    width: 100%;
    height: 0;
    overflow-y: hidden;

}
li a{
    text-decoration: none;
    list-style-type: none;
    color: white;
    padding: 30px;
    font-size: var(--font-sm);
    line-height: 30px;
}
.hamburgerIcon{
    display: flex;
    padding-left: 30px;
}
.button-cont{
    display: none;
}
.hamburger{
    width: 30px;
    /* height: 10px; */
    margin-top:8px ;
}
.nav-menu{
    color: white;
    margin-top: 10px;
    margin-left: 5px;
}
.show-nav-dropdown{
    height: max-content;
}
.section-four{
    /* margin-top: -5px; */
    overflow: hidden;
    /* background-image: url(./images/back-ground.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 650px; */
    min-height: min-content;
    padding-bottom:20px;
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.72), rgba(0, 0, 10, 0.80)),
    url('./faith\ \(1\).jpg');
}
.four-conts{
    /* padding-top: 140px; */
    padding: 140px 30px 0 29px;
}
.four-hone{
    font-size: var(--font-xxl);
    color: white;
    max-width: 90%;
    margin: auto;
}
.fourp{
    font-size: var(--font-sm);
    line-height: 25px;
    color: whitesmoke;
    margin-top: 15px;
}
.section-five{
    padding: 0 30px 30px 30px;
}
.buy{
    width: 30px;
    height: 25px;
    margin-top: 10px;
    margin-left: 8px;
    /* background-color: rgb(129, 129, 15); */
}
.buy-image{
    /* background-color: rgb(129, 129, 15); */
    width: 80px;
    height: 46px;
    border-radius: 50%;
    /* margin-bottom: 20px; */
}
.import-image{
    /* background-color: rgb(1, 1, 34); */
    width: 80px;
    height: 46px;
    border-radius: 50%;
}
/* .import{
    width: 30px;
    height: 25px;
    margin-left: 5px;
    margin-top: 10px;
} */
.top-five{
    display: flex;
    background-color:rgb(1, 1, 34) ;
    color: white;
    height: 250px;
    padding: 30px 0;
}
.middle-five{
    display: flex;
    background-color: rgb(129, 129, 15);
    color: white;
    height: 250px;
    padding: 30px 0;
}
.last-five{
    display: flex;
    background-color:rgb(1, 1, 34) ;
    color: white;
    height: 250px;
    padding: 30px 0;
}
.five-htre{
    margin-bottom: 15px;
}
.fivep{
    font-size: var(--font-sm);
}
.five-mini{
    margin-left: 15px;
}
.section-six{
    padding: 30px;
}
.six-image{
    width: 100%;
    background-size: contain;
    border-radius: 10px;
    /* margin-bottom: 50px; */
    /* height: 40%; */
}
.six-htre{
    color: rgb(129, 129, 15);
    font-size: var(--font-sm);
    margin-bottom: 10px;
}
.six-hone{
    color: rgb(19, 18, 18);
    font-size: var(--font-md);
    margin-bottom: 20px;
}
.sixp{
    /* padding: 0 0px 20px 40px; */
    color: rgb(31, 30, 30);
    font-size: var(--font-sm);
}
.section-seven{
    padding: 30px;
    text-align: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 400px; */
    min-height: min-content;
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.72), rgba(0, 0, 10, 0.80)),
    url('./images/tyres-one.jpg');
}
.sevenmi{
    color: white;
}
.seven-htre{
    font-size: 30px;
}
.sevenp{
    line-height: 25px;
    margin-top: 20px;
    font-size: var(--font-sm);
}
.section-eight{
    padding: 30px;
    /* gap: 50px; */
}
.eight-top{
    text-align: center;
    padding: 50px 30px;
}
.eight-htre{
    color: rgb(129, 129, 15);
    font-size: var(--font-sm);
    margin-bottom: 10px;
}
.eight-htwo{
    color: rgb(36, 35, 35);
    font-size: var(--font-md);
}
.eight-first{
    background-color: whitesmoke;
    height: 460px;
    padding: 30px;
    text-align: center;
    margin-bottom: 35px;
}
.eight-middle{
    background-color: whitesmoke;
    height: 460px;
    padding: 30px;
    text-align: center;
    margin-bottom: 35px;
}
.eight-last{
    background-color: whitesmoke;
    height: 618px;
    padding: 30px;
    text-align: center;
}
.first-image{
    width: 100%;
}
.middle-image{
    width: 100%;
}
.last-image{
    width: 100%;
}
.eight-htref{
    color: rgb(36, 35, 35);
    font-size: 20px;
    padding: 30px;
}
.eightpf{
    /* padding: 30px; */
    line-height: 25px;
    color: gray;
    font-size: var(--font-sm);
}
.section-nine{
    background-color: rgb(1, 1, 34);
    padding: 50px 10px 50px 30px;
    /* height: 800%; */
}
.about{
    margin-bottom: 30px;
}
.link{
    margin-bottom: 30px;
}
.ninep{
    line-height: 40px;
    color: gray;
    font-size: 18px;
}
.nine-htre{
    margin-bottom: 30px;
    font-size: var(--font-md);
    color: white;
}
.section-ten{
    padding: 30px;
    text-align: center;
    /* background-color: gray; */
}
.ten-image{
    width: 100%;
    height: 20%;
    /* background-color: red; */
    margin-bottom: 50px;
}
.ten-image-bg{
    background-color: white;
    width: 75%;
    height: 20%;
    margin-bottom: 40px;
}
.ten-image-bgc{
    background-color: white;
    width: 60%;
}
.ten-hone{
    font-size: var(--font-md);
    margin-bottom: 10px;
    color: rgb(36, 35, 35);
}
.tenp{
    margin-bottom: 10px;
    font-size: var(--font-sm);
    color: rgb(129, 129, 15);          
}
/*service*/
.service-three{
    width: 100%;
}
.service-left{
    background-color:rgb(233, 233, 153);
    color: white;
    /* width: 50%; */
}
.service-right{
    background-color: rgb(129, 129, 15);
    color: white;
    /* width: 50%; */
}
.servicep{
    line-height: 35px;
    padding: 40px;
    text-align: center;
    font-size: var(--font-md);
}
.leftserv-img{
    width: 350px;
}
.service-one{
    display: none;
}
/*about*/
.about-three{
    width: 100%;
    padding: 30px;
    margin-top: 70px;
    text-align: center;
}
.abtft{
    width: 200px;
    gap: 100px;
    /* border-radius: 20px; */
}
.abtp{
    height: 300px;
    width: 350px;
    margin-bottom: 50px;
    background-color: rgb(214, 212, 212);
}
.about-four{
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.72), rgba(0, 0, 10, 0.80)),
    url('./images/abt..jpg');
    margin-bottom: 40px;
    width: 100%;
}
.abtfour-wholesale{
    text-align: center;
    padding-top: 20px;
    font-size: var(--font-xl);
    color: rgb(29, 28, 28);
}
.whole-button{
   padding: 15px 50px;
   background-color: rgb(129, 129, 15);
   border: 1px solid rgb(129, 129, 15);
   border-radius: 8px;
   color: wheat;
   display: block;
   margin: auto;
   margin-top: 20px;
}
.contact-first{
    width: 100%;
    text-align: center;
    padding: 30px;
}
.contact-htre{
    color: rgb(129, 129, 15);
    margin-bottom: 10px;
}
.contact-hone{
    color: black;
    font-size: 30px;
    margin-bottom: 20px;
}
.contactp{
    color: gray;
}
.contact-question{
    display: none;
}
.contact-last{
    display: block;
    margin: 0 auto;
    padding: 30px;
}
input{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    /* margin-bottom: 20px;
    margin: 20px; */
}
.form-button{
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 20px;
    background-color: rgb(129, 129, 15);
    border: 1px solid rgb(129, 129, 15);
    color: white;
    border-radius: 10px;
    /* justify-content: center; */
}
.input-text{
    font-size: 10px;
    color: black;
}
.nav-menu{
    color: white;
    font-size: var(--font-md);
    margin-bottom: 10px;
}
/*tablet*/
@media screen and (min-width:700px) {
    .mail-topt{
        display: block;
    }
    .first-container{
        display: none;
    }
    .mailt-container{
        display: flex;
        justify-content: space-around;
        color: rgb(248, 236, 236);
        padding: 20px;
    }
    .mail-topd{
        display: none;
    }
    .sectiont-two{
        height: 320px;
        padding:20px 50px;
    }
    .logo{
        width: 15%;
    }
    .logo-section{
        display: flex;
        padding:20px 30px;
        gap: 10px;
    }
    .nav-menu{
        display: block;
    }
    /* .nav-menu{
        padding-top: 20px;
        font-size: 5px;
    } */
    .button-cont{
        display: none;
    }
    .hamburgerIcon{
        display: flex;
        /* margin-left: 70px; */
    }
    .nav-menu{
        color: white;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .hamburger{
        width: 30px;
        margin-top:12px ;
    }
    .four-conts{
        width: 80%;


        /* margin: 0 auto; */
        /* padding: 20px; */
        /* margin: 0px 0px 30px 0px; */
    }
    .four-hone{
        font-size: var(--font-xxl);
        font-weight: bolder;
        max-width: 100%;
    }
    .five-htre{
        margin-bottom: 15px;
        font-size:var(--font-md) ;
    }
    .fourp{
        line-height: 30px;
        margin-top: 60px;
    }
    .buy-image{
        width: 60px;
        height: 50px;
        border-radius: 50%;
    }
    .buy{
        margin-left: 10px;
    }
    .import-image{
        width: 80px;
        height: 50px;
    }
    .top-five{
        /* height: 150px; */
        min-height: min-content;
       line-height: 25px;
    }
    .middle-five{
        /* height: 150px; */
        min-height: min-content;
        line-height: 25px;
    }
    .last-five{
        /* height: 200px; */
        min-height: min-content;
        line-height: 25px;
    }
    .section-five{
        padding: 0 70px 90px 70px;
    }
    .section-six{
        padding: 70px;
    }
    .six-image{
        width: 100%;
        height: 600px;
        margin-bottom: 50px;
        /* height: 40%; */
    }
    .six-htre{
        font-size: var(--font-md);
        margin-bottom: 10px;
    }
    .six-hone{
        font-size: var(--font-xxl);
        margin-bottom: 20px;
    }
    .sixp{
        font-size: var(--font-sm);
        /* padding: 0 0px 20px 40px; */
    }
    .seven-htre{
        font-size: var(--font-xl);
    }
    .sevenp{
        line-height: 25px;
        margin-top: 20px;
        font-size: var(--font-md);
    }
    .first-image{
        width: 100%;
        height: 300px;
    }
    .middle-image{
        width: 100%;
        height: 300px;
    }
    .last-image{
        width: 100%;
        height: 300px;
    }
    .section-eight{
        padding: 70px;
        /* gap: 50px; */
    }
    .eight-first{
        background-color: whitesmoke;
        height: 550px;
        padding: 30px;
        text-align: center;
        margin-bottom: 50px;
    }
    .eight-middle{
        background-color: whitesmoke;
        height: 550px;
        padding: 30px;
        text-align: center;
        margin-bottom: 50px;
    }
    .eight-last{
        background-color: whitesmoke;
        height: 618 px;
        padding: 30px;
        text-align: center;
    }
    .eight-htref{
        font-size: var(--font-md);
    }
    .section-nine{
        background-color: rgb(1, 1, 34);
        padding: 70px 10px 70px 70px;
        /* height: 800%; */
    }
    .section-ten{
        padding: 70px;
        text-align: center;
    }
    .ten-image{
        width: 80%;
        /* background-color: red; */
        margin-bottom: 50px;
    }
    .ten-hone{
        font-size: var(--font-xxl);
        margin-bottom: 10px;
        color: rgb(36, 35, 35);
    }
    .tenp{
        margin-bottom: 10px;
        font-size: var(--font-md);
        color: rgb(129, 129, 15);          
    }
    .service-three{
        width: 100%;
        padding: 30px;
    }
    .service-left{
        background-color:rgb(233, 233, 153);
        color: white;
        /* width: 50%; */
    }
    .service-right{
        background-color: rgb(129, 129, 15);
        color: white;
        /* width: 50%; */
    }
    .servicep{
        line-height: 30px;
        padding: 40px;
        text-align: center;
        font-size: var(--font-md);
    }
    .leftserv-img{
        width: 400px;
    }
    .service-one{
        display: none;
    }
    .abtfour-wholesale{
        text-align: center;
        padding-top: 20px;
        font-size: var(--font-xxl);
        color: rgb(29, 28, 28);
    }
    .whole-button{
       padding: 15px 50px;
       background-color: rgb(129, 129, 15);
       border: 1px solid rgb(129, 129, 15);
       border-radius: 8px;
       color: wheat;
       display: block;
       margin: auto;
       margin-top: 20px;
    }
    .contact-question{
        display: none;
    }
    .contact-last{
        display: block;
        margin: 0 auto;
        padding: 70px;
    }
    input{
        width: 100%;
        height: 50px;
        margin-bottom: 30px;
        border: 1px solid gray;
        border-radius: 10px;
        /* margin-bottom: 20px;
        margin: 20px; */
    }
    .form-button{
        display: block;
        margin: 0 auto;
        width: 50%;
        height: 50px;
        background-color: rgb(129, 129, 15);
        border: 1px solid rgb(129, 129, 15);
        color: white;
        border-radius: 10px;
        /* justify-content: center; */
    }
    .input-text{
        font-size: var(--font-sm);
        color: black;
    }
    .hamburger{
        width: 30px;
        /* height: 10px; */
        margin-top:20px ;
    }
    .nav-menu{
        color: white;
        font-size: var(--font-md);
        padding-top: 15px;
    }

    
}
@media screen and (min-width:686px) {
    .eight-first{
        background-color: whitesmoke;
        height: 530px;
        padding: 30px;
        text-align: center;
        margin-bottom: 50px;
    }
    .eight-middle{
        background-color: whitesmoke;
        height: 550px;
        padding: 30px;
        text-align: center;
        margin-bottom: 50px;
    }
    .eight-last{
        background-color: whitesmoke;
        height:629px;
        padding: 30px;
        text-align: center;
    }
    
    
}
/*desktop*/
@media screen and (min-width:1000px) {
    .mail-topd{
        display: block;
    }
    .mailt-container{
        display: block;
    }
    .mailt-containerd{
        display: flex;
        justify-content: space-around;
        color: rgb(248, 236, 236);
        padding: 20px;
    }
    .mail-topt{
        display: none;
    }
    .inquire-now{
        width: 100%;
        /* height: 20px; */
        background-color:rgb(129, 129, 15);
        color: white;
        border: 1px solid rgb(129, 129, 15);
        border-radius: 5px;
        /* font-size: var(--font-sm); */
        padding: 2px 2px;
        /* font-weight: 100px; */
        margin-top: 4px;
    }
    .section-one{
        height: 50px;
    }
    .sectiont-two{
        display: flex;
        justify-content: space-around;
        height: 150px;
    }
    .logo{
        width: 30%;
        height: 70px;
    }
    .section-three{
        width: 87%;
        height: 50px;
        margin: 0 auto;
    }
    .nav-cont{
        display: block;
        font-size: 18px;
    }
    .nav-menu{
        display: none;
    }
    .nav-links{
        display: flex;
        gap: 30px;
        list-style-type: none;
        
       
    }
    li a{
        text-decoration: none;
        list-style-type: none;
        color: white;
        padding: 30px;
        font-size: var(--font-sm);
    }
    li a:hover{
        background-color: rgb(129, 129, 15);
        height:100px;
    }
    .menuItems{
        display: flex;
        justify-content:space-between;
    }
    .nav-cont{
        position: unset;
        height: 50px;
    }
    .hamburgerIcon{
        display: none;
    }
    .button-cont{
        display: block;
        /* background-color: rgb(129, 129, 15); */
    }
    .nav-links{
        padding-top: 10px;
    }
    .nav-button {
        margin-top: 12px;
        padding:5px;
        border: 1px solid  rgb(129, 129, 15);;
        width: 150px;
        background-color: rgb(129, 129, 15);;
        color: white;
        border-radius: 5px;
        margin-right: 20px;
    }
    .nav-button a{
        
        /* background-color: gray; */
        color: white;
        text-decoration: none;
       
    }
    .section-four{
        min-height: min-content;
    }
    .four-conts{
        width: 50%;
        margin: 0px 0px 30px 50px;

    }
    .four-hone{
        font-size: var(--font-xxl);
        /* padding: ; */
    }
    .five-conts{
        display: flex;
        margin-top: -30px;
    }
    .top-five{
        height: 280px;
       line-height: 25px;
       width: 50%;
    }
    .middle-five{
        height: 280px;
        line-height: 25px;
        width: 50%;
    }
    .last-five{
        height: 280px;
        line-height: 25px;
        width: 50%;
    }
    .buy-image{
        width: 80px;
        height: 40px;
        border-radius: 50%;
    }
    .buy{
        margin-right: 10px;
        width: 25px;
    }
    .import-image{
        width: 80px;
        height: 40px;
    }
    .import{
        width: 25px;
        margin-right: 5px;
    }
    .six-cont{
        display: flex;
    }
    .six-left{
        width: 50%;
    }
    .six-right{
        width: 50%;
        margin-top: 60px;
        margin-left: 60px;
        /* text-align: center; */
    }
    .section-six{
        padding: 0 70px 30px 70px;
        height: 550px;
    }
    .six-image{
        width: 100%;
        height: 500px;
        margin-bottom: 50px;
    }
    .six-htre{
        font-size: var(--font-md);
        margin-bottom: 10px;
    }
    .six-hone{
        font-size: var(--font-xxl);
        margin-bottom: 20px;
    }
    .sixp{
        font-size: var(--font-md);
        line-height: 25px;
        color: rgb(61, 61, 61);
        /* padding: 0 0px 20px 40px; */
    }
    .seven-htre{
        font-size: var(--font-xxl);
    }
    .sevenp{
        line-height: 40px;
        margin-top: 20px;
        font-size: var(--font-md);
    }
    .section-seven{
        height: 300px;
    }
    .eight-cont{
        display: flex;
        gap: 40px;
    }
    .first-image{
        width: 100%;
        height: 300px;
    }
    .middle-image{
        width: 100%;
        height: 300px;
        margin-top: 10px;
    }
    .last-image{
        width: 100%;
        height: 300px;
        margin-top: 10px;
    }
    .section-eight{
        padding: 70px;
        /* gap: 50px; */
    }
    .eight-first{
        background-color: whitesmoke;
        height: 600px;
        width: 800px;
        padding: 50px;
        text-align: center;
        border-radius: 10px;
        /* margin-bottom: 50px; */
    }
    .eight-middle{
        background-color: whitesmoke;
        height: 600px;
        width: 800px;
        /* padding: 30px; */
        text-align: center;
        border-radius: 10px;
        /* margin-bottom: 50px; */
    }
    .eight-last{
        background-color: whitesmoke;
        height: 600px;
        width: 800px;
        border-radius: 10px;
        /* padding: 30px; */
        text-align: center;
    }
    .eight-htre{
        font-size: var(--font-md);
    }
    .eight-htwo{
        font-size: var(--font-xxl);
    }
    .nine-cont{
        display: flex;
        justify-content: space-between;
        gap: 150px;
        padding: 30px;
    }
    .ten-cont{
        display: flex;
    }
    .section-ten{
        background-color: gray;
    }
    .ten-hone{
        font-size: var(--font-xxl);
    }
    .tenp{
        font-size: var(--font-md);
        margin-bottom: 40px;
    }
    
.sectionf-abt{
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.72), rgba(0, 0, 10, 0.80)),
    url('./images/importance-or-tyres-in-road-safety.png');
}
.section-six{
    margin-top: 70px;
}
.abthone{
    text-align: center;
}
.six-hone{
    margin-bottom: 40px;
}
.about-three{
    width: 100%;
    margin-top: 70px;
}
.abttre-cont{
    display: flex;
    justify-content: center;
}
.abtft{
    width: 400px;
    gap: 100px;
    /* border-radius: 20px; */
}
.abtp{
    height: 300px;
    width: 350px;
    margin-bottom: 50px;
    background-color: rgb(214, 212, 212);
}
.abthone{
    margin-bottom: 50px;
    font-size: var(--font-xxl);
    color: rgb(29, 28, 28);
}
.about-four{
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.72), rgba(0, 0, 10, 0.80)),
    url('./images/abt..jpg');
    /* margin-bottom: 100px; */
    /* padding: 50px; */
    width: 60%;
    margin: 0 auto;

}
.abtfour-wholesale{
    text-align: center;
    padding-top: 80px;
    font-size: var(--font-xxl);
    color: rgb(29, 28, 28);
}
.whole-button{
   padding: 15px 50px;
   background-color: rgb(129, 129, 15);
   border: 1px solid rgb(129, 129, 15);
   border-radius: 8px;
   color: wheat;
   display: block;
   margin: auto;
   margin-top: 20px;
}
.section-nine{
    margin-top: 80px;
}
    /*services*/
    .service-one{
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image:
        linear-gradient(to bottom, rgba(245, 246, 252, 0.72), rgba(0, 0, 10, 0.90)),
        url('./images/history.jpg');

    }
    .service-onecont{
        padding: 160px 50px 50px 80px;
        color: white;
        font-size: var(--font-xxl);
    }
    .service-three{
        width: 80%;
        /* background-color: red; */
        /* height: 1000px; */
        margin: 0 auto;
        height: 800px;
        /* margin-bottom: 50px; */
    }
    .servicet-cont{
        display: flex;
    }
    .service-left{
        /* background-color:rgb(233, 233, 153); */
        background-color: rgb(1, 1, 34);
        color: white;
        width: 50%;
    }
    .service-right{
        background-color: rgb(129, 129, 15);
        color: white;
        width: 50%;
    }
    .servicep{
        line-height: 35px;
        padding: 40px;
        text-align: center;
        font-size: var(--font-md);
    }
    .leftserv-img{
        width: 500px;
    }
    .service-one{
        display: block;
    }
    .mapouter{
        padding: 30px;
    }
    .contact-first{
        width: 100%;
        text-align: center;
        padding: 30px;
    }
    .contact-htre{
        color: rgb(129, 129, 15);
        font-size: var(--font-md);
        margin-bottom: 10px;
    }
    .contact-hone{
        color: black;
        font-size: var(--font-xxl);
        margin-bottom: 20px;
    }
    .contactp{
        color: gray;
        width: 500px;
        margin: auto;
    }
    .contact-question{
        display: block;
        /* margin-bottom: 20px; */
    }
    
    .contact-last{
        display: flex;
        justify-content: center;
        /* margin: 0 auto; */
    }
    input{
        width: 100%;
        height: 70px;
        margin-bottom: 50px;
        border: 1px solid gray;
        border-radius: 10px;
        /* margin-bottom: 20px;
        margin: 20px; */
    }
    .input-mssg{
        height: 150px;
        padding: 30px;
    }
    .form-button{
        /* display: block; */
        /* margin: 0 auto; */
        width: 50%;
        height: 50px;
        background-color: rgb(129, 129, 15);
        border: 1px solid rgb(129, 129, 15);
        color: white;
        border-radius: 10px;
        /* justify-content: center; */
    }
    .input-text{
        font-size: var(--font-sm);
        color: black;
        padding: 30px;
    }
    .contact-form{
        background-color: rgb(247, 244, 244);
        padding: 50px;
        border-radius: 2%;
        /* margin-bottom: 100px; */

    }
    .call-section{
        margin-bottom: 100px;
    }
    .location-section{
        margin-bottom: 100px;
    }
    /* .sect-ht{
        border-radius: 3px;
        border: 1px solid rgb(224, 217, 217);
        width: 35px;
        height: 40px;
    }
     */
    
    
    
}